.navBar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #cccc;
}

.navItem {
  cursor: pointer;
  padding-block: 20px;
  text-decoration: none;
  color: inherit;
}

.navItem:hover {
  font-size: 110%;
}

.navItem.active {
  background-color: white;
}
